<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.briggs_inc.towf_receiver"
    android:versionCode="7"
    android:versionName="3.3d">

    <uses-sdk tools:overrideLibrary="android.support.v7.appcompat" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/ -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- To get wifi names -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Need these if want to access User's Name ... -->
    <!--<uses-permission android:name="android.permission.READ_PROFILE" />  This doesn't seem to exist... -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NetworkPlaybackService"
            android:permission="android.permission.BIND_JOB_SERVICE "/>
        <service
            android:name=".InfoService"
            android:permission="android.permission.BIND_JOB_SERVICE "/>
    </application>

</manifest>